{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "transform-runtime"
    ],
    "transform-decorators-legacy",
    [
      "import",
      {
        "style": true,
        "libraryName": "antd-mobile"
      }
    ]
  ]
}