/*模拟select*/
.csparest{float:left;}
.csstatu{position:relative; z-index:10;}
/*
.csSelect{}
.csStitle{cursor:pointer;border:1px solid #bababa;padding:2px 4px 2px 8px;background:#fff url(http://source.qunar.com/tts/images/demo/icon_MoreNextDays.gif) no-repeat right center;line-height:16px;}
.csSlist{display:none;position:absolute;background:#fff;width:100%;border:1px solid #bababa;border-top:0;overflow-y:auto;overflow-x:hidden;}
.pas_list .csSlist li{padding-bottom:0px;}
.csSelect .csSlist li{width:100%;clear:both;}
.csSlist a{display:block;padding:2px 4px 2px 8px;color:#555;outline:none;line-height:18px;}
.csSlist a:hover{background:#0069ca;color:#fff;}*/

.yselector{background-color:#fff;width:120px;}
.yselector_arraw{width:20px;border-left:1px dotted #bababa;float:right; margin-right:-20px; display: inline; height:15px;overflow: hidden; margin-bottom:-15px;}
.yselector_arraw b{border-width:4px;border-style:solid;border-color:#555 #fff #fff #fff;width:0;height:0;font-size:0;line-height:0;display:block;margin:7px 0 0 6px;}
.yselector_box{cursor:pointer;border:1px solid #bababa;padding:2px 20px 2px 2px;_height:1%;overflow: hidden;}
.yselector_input{display:block;height:16px;line-height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding:0 2px;}

/* ie6 hack */
* html .yselector_arraw {width:40px;border-width:2px;height:30px;zoom:0.5;}
* html .yselector_arraw b{border-width:8px;margin-left:12px;margin-top:14px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .yselector_input:focus {outline-width:1px;outline-style:dotted;outline-color:#bababa;}
}

.yselector_suggest{margin-top:-1px;position:relative;background-color:#f00;z-index:13;}
.yselector_suggest ul {overflow-y:auto;overflow-x:hidden;position: absolute;width:118px;border:1px solid #bababa;background-color:#fff;padding: 0 !important;}
.yselector_suggest a{color:#555;display:block;line-height:24px;height:24px;padding:0 5px 0 4px !important;outline:0;text-overflow:ellipsis;overflow: hidden;}
.yselector_suggest a:hover, .yselector_suggest a.hover{color:#fff;background-color:#4778da;}
.yselector_suggest li{overflow:hidden;white-space:nowrap;padding:0;float:none !important;clear:both;width:100%;display:block;padding-top:0 !important;}